<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Calendar_2019.Properties.Settings.Calendar_2019ConnectionString"
            connectionString="Data Source=SANA-AZMAT-KHAN\SQLEXPRESS;Initial Catalog=Calendar_2019;Persist Security Info=True;User ID=sa;Password=327626143"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>