/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Ap_ID]
      ,[Client_ID]
      ,[Client_Name]
      ,[Client_contact]
      ,[Client_email]
      ,[Date_Start]
      ,[Date_End]
      ,[Time_begin]
      ,[Time_end]
      ,[Ap_Description]
      ,[Ap_Venue]
      ,[U_ID]
  FROM [calendar_2019].[dbo].[appoinmentss]