/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Eve_ID]
      ,[Eve_Title]
      ,[Eve_Description]
      ,[Date_Start]
      ,[Date_End]
      ,[Time_Begin]
      ,[Time_End]
      ,[Eve_Venue]
      ,[U_ID]
  FROM [calendar_2019].[dbo].[eventts]