/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [M_ID]
      ,[Client_ID]
      ,[Client_Name]
      ,[Client_contact]
      ,[Client_email]
      ,[Date_Start]
      ,[Date_End]
      ,[Time_begin]
      ,[Time_end]
      ,[M_attendees]
      ,[M_Summary]
      ,[M_Venue]
      ,[U_ID]
  FROM [calendar_2019].[dbo].[meetingss]