/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [U_ID]
      ,[U_Name]
      ,[U_Pass]
  FROM [calendar_2019].[dbo].[usser]

  insert into usser values (101,'sana','khan101');
  select * from usser